@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

$fondo-violaceo: linear-gradient(
  to right top,
  #2c1873,
  #492bb5,
  #7854fa,
  #492bb5,
  #2c1873
);

$azul-violaceo: #7854fa;

@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-VariableFont_wght.ttf');
}

body {
  font-family: Rubik;
  padding-top: 5vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  line-height: 1.25;
  letter-spacing: 0.0001em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 8em;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white; /* Optional: Add a background color */
  z-index: 2999;
  height: 5vh;
}

.NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1;
  font-weight: lighter;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
  margin: 0;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 1em 1.8em;
  outline: none;
  user-select: none;
  line-height: 1;
  border-radius: 4px;
  font-size: 1.5em;
  color: var(--violet-11);
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  line-height: 1;
}

@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition:
    width,
    transform 250ms ease;
}
.NavigationMenuIndicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: white;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

.HeroAccordion {
  width: 100%;
  background-color: black;
  position: relative;
}

.HeroText {
  font-size: 1.7em;
  font-weight: 100;
  position: absolute;
  color: white;
  width: 30%;
  padding-left: 7%;
  padding-top: 7%;
}

.HeroTextBold {
  color: $azul-violaceo;
}

.HeroImage {
  display: block;
  margin-left: auto;
}

.FAQAccordion {
  width: 100%;
}

.FAQItem {
  font-size: 2.2rem;
  width: 100%;
}

.PreguntaFAQ {
  font-weight: 500;
  background-color: white;
  border-top: 2px solid black;
  width: 100%;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.RespuestaFAQ {
  font-weight: 100;
}

.AccordionChevron {
  transition: transform 300ms;
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

.AccordionContent {
  overflow: hidden;
}

.AccordionContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.CircleButton {
  width: 75px; /* Adjust as needed */
  height: 75px; /* Adjust as needed */
  background-size: contain; /* Adjust as needed */
  border: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 1%;
  z-index: 999;
}

.CircleButton[data-state='closed'],
.ToggleResumenCurso[data-state='off'] .CircleButton {
  background: url('../images/plus-btn.svg') no-repeat center center;
}

.CircleButton[data-state='open'] {
  background: url('../images/minus-btn.svg') no-repeat center center;
}

.CircleButtonNegro[data-state='closed'] {
  background: url('../images/plus-btn-negro.svg') no-repeat center center;
}

.CircleButtonNegro[data-state='open'] {
  background: url('../images/minus-btn-negro.svg') no-repeat center center;
}

.ToggleResumenCurso[data-state='on'] .CircleButton {
  background: url('../images/minus-btn-inv.svg') no-repeat center center;
}
.HeroContent {
  background-color: white;
  font-size: 1.7em;
  font-weight: 100;
  padding-left: 5%;
  padding-top: 1%;
}

.HeroContentTitle {
  color: $azul-violaceo;
  font-weight: 500;
  display: inline-block;
}

.HeroContentList {
  width: 55%;
}

.Firulete {
  max-width: 10%;
  max-height: 10%;
  margin-right: auto;
  margin-left: auto;
}

.HeroContentListContainer {
  display: flex;
}

.Clientes {
  margin-left: -10%;
  padding-right: 7em;
  padding-bottom: 5em;
  padding-top: 2em;
}

.Logo {
  margin-right: 7em;
}

.CursosAccordion {
  width: 100%;
  position: relative;
}

.CursosHeader {
  background-image: $fondo-violaceo;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1.5em;
  padding-bottom: 9em;
  display: flex;
  flex-wrap: wrap;
}

.ResumenCursosCarousel {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-right: 8em;
  margin-left: 8em;
}

.TextoResumenCurso {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  margin-left: 1em;
  margin-top: 2em;
  position: relative;
  align-self: flex-start;
}

.CursosTituloAcronimo {
  font-size: 1.75em;
  font-weight: 600;
  margin-top: 0.2em;
}

.CursosTitulo {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 0.2em;
}

.CursosTituloBajada {
  font-size: 1.25em;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 4em;
}

.ToggleResumenCurso[data-state='off'] .TextoResumenCurso .CursosTituloAcronimo {
  color: $azul-violaceo;
}
.ToggleResumenCurso[data-state='on'] .TextoResumenCurso {
  color: white;
}

.CarouselResumenesCursos {
  display: flex;
}

.VideoGrande {
  align-self: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.DetalleCurso {
  background-color: white;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TituloDetalleCurso {
  font-size: 2vw;
  font-weight: 500;
  margin-bottom: -0.5vh;
  display: inline-block;
  text-align: left;
}

.ResumenDetalleCurso {
  font-weight: 100;
  font-size: 1.2vw;
  padding-right: 43vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.SubtituloDetalleCurso {
  color: $azul-violaceo;
  font-size: 1.2vw;
  font-weight: 600;
  margin-bottom: 5vh;
}
/* Buttons styles start */
button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

/* Button styles end */

.ToggleResumenCurso {
  border-radius: 2em;
  width: 25em;
  position: relative;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
}

.ToggleResumenCurso[data-state='on'] {
  background-color: $azul-violaceo;
  height: 46em;
}

.ToggleResumenCurso[data-state='off'] {
  background-color: white;
  height: 36em;
}

.ImagenResumenCurso {
  border-radius: 2em 2em 0 0;
  width: 100%; /* Stretch the image to take the button's width */
  height: auto; /* Maintain aspect ratio */
}

.ContenidoCurso {
  font-size: 1.2vw;
  font-weight: 100;
}

.VerMasMenos {
  background: none;
  border: none;
  color: $azul-violaceo;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 100;
}

.ContenidoCurso ul > li {
  font-weight: bold;
  list-style-type: none;
}

.ContenidoCurso ul ul > li {
  font-weight: normal;
  list-style-type: disc;
}

.Separador,
.SeparadorModal {
  background-image: url('../images/noun-dashed-line-384455.svg');

  height: 5px;
  border: none;
}

.SeparadorModal {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.Separador {
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ToggleResumenCurso[data-state='on'] .ImagenResumenCurso {
  content: url('../images/resumen-CSM.jpg');
}

.CircleButtonCursos {
  position: absolute;
  bottom: 0;
  align-self: center;
  left: auto;
  margin-top: 1.3em;
  justify-self: end;
}

.HorarioCurso {
  border-radius: 1vw;
  border: 0.3vw solid $azul-violaceo;
  height: 13rem;
  width: 98%;
  display: flex;
  flex-direction: horizontal;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  position: relative;
  padding-top: 0.8rem;
}
.ContenedorFechaCurso {
  position: relative;
  display: inline-block; /* Ensures container only takes up space necessary */
  margin-right: 2rem;
}

.FechaCurso {
  position: absolute;
  top: 50%; /* Positions the overlay vertically centered */
  left: 50%; /* Positions the overlay horizontally centered */
  transform: translate(-50%, -50%); /* Centers the overlay */
  text-align: center; /* Centers the text inside the overlay */
  display: flex;
  flex-direction: column;
}

.MesFechaCurso,
.DiaFechaCurso {
  color: $azul-violaceo;
  font-weight: 600;
  letter-spacing: 0.0002em;
}

.MesFechaCurso {
  font-size: 2rem;
  margin-top: 3.5rem;
}

.DiaFechaCurso {
  font-size: 5rem;
  margin-top: -1rem;
}

.DesdeHasta {
  margin-top: -1rem;
}
.DesdeHastaFecha {
  font-weight: 700;
  font-size: 2.2rem;
  padding-top: -1rem;
}

.HorariosOtrosPaises {
  font-weight: 100;
  font-size: 1.7rem;
}

.BotonInscripcion {
  background-color: $azul-violaceo;
  width: 18rem;
  height: 5rem;
  border-radius: 1rem;
  color: white;
  font-size: 2.3rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}

.NavigationMenuIndicator {
  background-color: grey;
  height: 3px;
  transition:
    width,
    transform,
    250ms ease;
}

.IntervencionesAccordion {
  background-color: black;
  color: white;
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  position: relative;
}

.IntervencionesTitulo {
  font-size: 1.6em;
  font-weight: 700;
}

.IntervencionesAreaPreguntas {
  display: flex;
  padding-top: 6em;
  padding-bottom: 6em;
}

.IntervencionesSeccionPregunta {
  flex-grow: 1;
  flex: 1;
  padding-left: 5em;
  padding-right: 5em;
}

.IntervencionesTituloPregunta {
  font-size: 2.5em;
  font-weight: 700;
  padding-bottom: 2em;
  display: inline-block;
}

.IntervencionesContenidoPregunta {
  font-size: 1.4em;
  font-weight: 100;
}

.AgilidadProfundaAccordion {
  background-image: $fondo-violaceo;
  color: white;
  position: relative;
}

.TituloSeccionAccordion {
  font-size: 1.6vw;
}

.AccordionHeader {
  padding-top: 8vh;
  padding-bottom: 8vh;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  flex-direction: column;
}

.ContenidoSeccionAgilidadProfunda {
  font-size: 1.9vw;
  padding-top: 7vh;
  padding-bottom: 15vh;
}

.FiruleteHorizontal {
  align-self: flex-end;
}

.AreaContacto {
  padding-top: 8vh;
  padding-bottom: 8vh;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  position: relative;
}

.LinksContacto {
  list-style: none;
  font-size: 1.5vw;
  font-weight: 100;
}

.LinksContacto li {
  padding-bottom: 3vh;
}
.Copyright {
  font-size: 1.2vw;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 6vw;
  padding-top: 8vh;
  display: flex;
}

.CopyrightText {
  align-self: center;
  padding-left: 1.5vh;
  font-weight: 100;
}

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

h2 {
  color: white;
  font-weight: 100;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.ContenedorModal {
  display: flex;
  flex-direction: row;
}

.DialogContent {
  background-image: $fondo-violaceo;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;

  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: white;
  font-size: 1.7rem;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: white;
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  border: none;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 15px;
  flex-direction: column;
  padding: 0;
}

// Define a variable for the placeholder color
$placeholder-color: #cccccc;

select option:first-child {
  color: #cccccc; /* Light grey color */
}

// Apply the placeholder color to various input types using nesting
input,
textarea,
select,
.Combobox__input {
  &::placeholder {
    color: $placeholder-color;
    opacity: 1; // Ensures full opacity in Firefox
  }

  // Vendor prefixes for cross-browser compatibility
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &:-moz-placeholder {
    color: $placeholder-color;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

.Input {
  box-sizing: content-box;
  padding: 0.6rem;
}

.Combobox__placeholder {
  color: #cccccc;
}

.Combobox__indicator-separator {
  display: none;
}

.Combobox__dropdown-indicator {
  color: $azul-violaceo;
}

.Combobox__input {
  color: #cccccc;
}

.Combobox__control {
  padding-left: 0.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.Input,
.ContenedorCombobox {
  width: 40rem;
  border-radius: 4px;
  line-height: 1;
  font-size: 0.7rem;
  font-weight: 100;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  /* Normalize appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Optionally, remove border */
  border: none;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.BotonPagarConStripe {
  background-color: $azul-violaceo;
  color: white;
  border-radius: 16px;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.BotonPagarConStripe[disabled] {
  cursor: not-allowed; /* Change cursor to not-allowed */
  background-color: #999;
}

.BotonPagarConMercadoPago {
  width: 3rem;
}

.VideoPlayer {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.CarouselCasos {
  display: flex; /* Enables Flexbox */
  align-items: center; /* Vertically centers the flex items */
}

// Define a mixin for common styles
@mixin carouselArrowStyles {
  position: absolute;
  z-index: 10;
  background: transparent; // Ensure the button has a transparent background
  border: none; // Remove the default border
  cursor: pointer;
}

// Use the mixin for both classes, applying only the unique styles
.CarouselCasosFlechaAntes {
  @include carouselArrowStyles;
  left: 0;
}

.CarouselCasosFlechaDespues {
  @include carouselArrowStyles;
  right: 0;
}

.CarouselCasosContenido {
  width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 12rem;
}

.ContenedorCasos {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.VideoCaso {
  width: 90%;
}

.CasoIndividual {
  flex-shrink: 0;
}

.AgilidadProfundaContent {
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.VideoAgilidadProfunda {
  margin-bottom: 12rem;
}
