{% extends "admin/change_form.html" %}

{% block after_field_sets %}
  {{ block.super }}
  {% if original %}
    <fieldset class="module aligned">
      <h2>Alta batch de revendedor</h2>
      <div class="form-row">
        <label for="id_batch_alumnos">Alumnos</label>
        <textarea id="id_batch_alumnos"
                  name="batch_alumnos"
                  rows="10"
                  placeholder="Apellido	Nombre	email"></textarea>
      </div>
      <div class="form-row">
        <label for="id_batch_email_facturacion">Email de facturación</label>
        <input id="id_batch_email_facturacion"
               name="batch_email_facturacion"
               type="email" />
      </div>
      <div class="form-row">
        <label for="id_batch_pais_facturacion">País de facturación</label>
        <input id="id_batch_pais_facturacion" name="batch_pais_facturacion" />
      </div>
    </fieldset>
  {% endif %}
{% endblock after_field_sets %}
{% block submit_buttons_bottom %}
  {% if original %}
    <div class="submit-row">
      <button class="button" type="submit" name="_alta_batch_revendedor" value="1">Alta batch de revendedor</button>
    </div>
  {% endif %}
  {{ block.super }}
{% endblock submit_buttons_bottom %}
